body {
    background-color:rebeccapurple;
    color: whitesmoke;
    font-family: inherit;
}




li{
    color: #332460;
    font-size:18px;
    font-family:cursive;
    text-decoration: underline;
    list-style: square;
}
p{
    margin: 50px;
    padding: 15px;
}

img{
    width: 100%;
}


i{
    color:cornflowerblue;
}

.red {
    color: red;
}


.underline {
    text-decoration: underline
}

.green {
    color: green;
}
