body {

    background-color:rebeccapurple;
    color: whitesmoke;


    background-color: mediumpurple; 
    color: white; 
    margin: 40px auto;
    max-width: 650px;    
    }


li {
    color: indianred;
    font-size: 18px;
    font-family: cursive;
    text-decoration: underline;
    list-style: square;
}

p{
    margin: 10px;
    padding: 15px;
    border: 1px solid white; 
}



img{
    width: 100%; 
}

li1{
    color: white;
        
    }
    

    .red{
        color:red;
}

.underline{
    text-decoration: underline;
}
{
    background-color: whitesmoke;
    color: rebeccapurple;
    font-family: inherit;
}





li{
    color: #332460;
    font-size:18px;
    font-family:cursive;
    text-decoration: underline;
    list-style: square;
}
p{
    margin: 50px;
    padding: 15px;
}

img{
    width: 100%;
}


i{
    color:cornflowerblue;
}

.red {
    color: red;
}

.white {
    color: whitesmoke
}

.underline {
    text-decoration: underline
}

.green {
    color: green;
}



.div iframe {
    width: 700px;
    height: 600px;
    margin: 0 auto;
    background-color: #777;
}

.div {
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    text-align: center;
}

.w-50 {
    background-color: aqua;
    width: 50%;
    height: 100%;
}

.buttons {
    margin: 50px 0;
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}